#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}
#menu li { 
display: inline; 
padding: 20px; 
}

body {
    background-color: #558C89;
}

h1 {
    background-color: #74AFAD;
}

p {
    background-color: #ECECEA;
}