#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}
#menu li { 
	display: inline; 
	padding: 20px; 
}
#menu {
	background-color: #74AFAD;
	padding-left: 30%;
	color: #ffffff;
	margin: 0;
}
div#menu a {
color: #ffffff;
}

.pdfobject-container { 
height: 1100px;

}
.header {
	background-color: #74AFAD;
	color: #ffffff;
	margin: 0;
	padding-left: 30%;
}

.content {
	background-color: #ECECEA;
	margin: 0;
	padding-left: 30%;
	width: 40%;
}
body {
	background-color: #ECECEA;
	margin: 0;
}

h1 {
    background-color: #74AFAD;
	margin: 0;
}
